MEMORY {
    # Zeropage
    ZP:    file = "", start = $0000, size = $0100, type = rw,  define = yes;

    # --- ADD A VALID RAM DEFINITION ---
    # Maps RAM from $0200 to $4FFF (size $4E00), keeping it clear of $5000 I/O
    RAM:   file = "", start = $0200, size = $4E00, type = rw,  define = yes;

    # c65 File Header
    HEADER: file = %O, start = $0000, size = $0010, fill = yes;

    # ROM and Vectors
    ROM:  file = %O, start = $8000, size = $7ffa, fill = yes, define = yes;
    ROMV: file = %O, start = $fffa, size = $0006, fill = yes, define = yes;

    # tileset ROM
    TILES: file = %O, start = $0000, size = $2000;
}

SEGMENTS {
    ZEROPAGE: load = ZP,   type = zp;

    HEADER:   load = HEADER, type = ro;

    CODE:     load = ROM,  type = ro;
    VECTORS:  load = ROMV, type = ro;
    RODATA:   load = ROM,  type = ro;

    # --- MAP VARIABLE SEGMENTS TO ACTUAL RAM ---
    DATA:     load = ROM,  run = RAM, type = rw, define = yes;
    BSS:      load = RAM,  type = bss, define = yes;

    TILES:    load = TILES,  type = ro, optional = yes;
}
